.btn1 {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    padding: 15px;
    border-radius: 38px;
}
.btn1:hover {
    text-decoration: none;
}

.btn2 {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    padding: 15px;
    border-radius: 38px;
}
.btn2:hover {
    text-decoration: none;
}

.red {
    color: #861710;
}

.padding-bottom {
    padding-bottom: 40px;
}

.effect01 {
    color: #fff;
    /* border: 4px solid #000; */
    box-shadow:0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.effect01:hover {
    color: #000;
    border: 4px solid #666;
    background-color: #fff;
    box-shadow:0px 0px 0px 4px #eee inset;
}

.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}
.effect01:hover span{
    letter-spacing: 0.13em;
    color: #333;
}